DB_HOST=string // Ip address of your db
DB_NAME=string // Name of your db
DB_PORT=string // Port where your db listen to
DB_USERNAME=string // Your db username
DB_PASSWORD=string // Your db password
NODE_PORT=int // Port where you node listen to